@import 'universal';

body {
    font-family: $font__family;
    font-size: $font__size;
}

@mixin buttons($border) {
    @extend body;
    color: $gray;
    border: none;
    background-color: transparent;
    cursor: pointer;

    &:hover {
        color: black;
    }

    @if($border=='true') {
        border: 1px solid $gray;
        border-radius: 20px;
        @include paddings(3);

        &:hover {
            border: 1px solid $black;
        }
    }
}

.header {
    @extend body;
    display: flex;
    width: 100vw;

    &__menu {
        display: none;
    }

    &__login {
        @include buttons('false');
    }

    &__register {
        @include buttons('true');
    }

    nav {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        @include paddings(20);


        div {
            display: flex;
            gap: 50px;
            align-items: center;

            select {
                @extend body;
                color: $gray;
                border: none;
                background-color: transparent;
                cursor: pointer;

                &:hover {
                    color: $black;
                }

                option {
                    background-color: $white;
                }
            }

            a {
                @extend body;
                color: $gray;
                text-decoration: none;

                &:hover {
                    color: $black;
                }
            }
        }
    }

    &__lateral {
        position: fixed;
        flex-direction: column;
        width: 70%;
        height: 100%;
        background-color: $white;
        z-index: 1;
        right: 0;
        bottom: 0;
        gap: 50px;

        &-hidden {
            display: none;
        }

        div {
            display: flex;
            width: 100%;
            justify-content: end;
        }

        img {
            padding: 10px 20px 0 0;
            cursor: pointer;
        }

        nav {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;
            gap: 20px;

            select {
                @extend body;
                background-color: transparent;
                color: $gray;
                border: none;
                cursor: pointer;

                &:hover {
                    color: $black;
                }
            }

            a {
                color: $gray;
                text-decoration: none;
                padding-left: 5px;

                &:hover {
                    color: $black;
                }
            }
        }

        section {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 100px;
            gap: 25px;
            align-items: center;
            padding-top: 40px;

        }

    }

}

.login__mobile {
    @include buttons('false');
}

.register__mobile {
    @include buttons('true');
}

.main {
    display: flex;
    @include paddings(35);
    width: 100%;
    gap: 100px;

    &__left {
        @extend body;
        display: flex;
        flex-direction: column;
        width: 40%;
        gap: 40px;

        h1 {
            padding-top: 100px;
            font-size: 70px;
        }

        p {
            color: $gray;
            line-height: 30px;
        }

        button {
            @extend body;
            width: 150px;
            padding: 10px;
            border-radius: 10px;
            background-color: $black;
            color: $white;
            cursor: pointer;

            &:hover {
                background-color: $white;
                color: $black;
            }
        }

        section {
            display: flex;
            gap: 40px;
            padding-top: 40px;

            img {
                height: 20px;
            }
        }
    }

    &__right {
        width: 40%;

        figure {
            img {
                width: 80%;
                height: 70%;
            }
        }
    }

    &__mobile {
        display: none;
    }
}

@media (min-width:975px) {
    .header {
        &__lateral {
            display: none;
        }
    }
}

@media (max-width:975px) {
    .header {
        padding: 10px 0px;

        &__login {
            display: none;
        }

        &__register {
            display: none;
        }

        &__menu {
            display: flex;
            cursor: pointer;
        }

        nav {
            padding: 10px;

            div {
                select {
                    display: none;
                }

                a {
                    display: none;
                }
            }
        }
    }

    .main {
        padding: 0;
        width: 100%;
        display: flex;
        flex-direction: column-reverse;

        &__right {
            width: 100%;

            figure img {
                width: 100%;
            }
        }

        &__left {
            width: 100%;
            justify-content: center;

            h1 {
                text-align: center;
                font-size: 40px;
                padding-top: 10px;

                br {
                    display: none;
                }
            }

            p {
                text-align: center;
            }

            button {
                display: flex;
                margin: 0 auto;
                justify-content: center;
            }

            section {
                gap: 30px;
                justify-content: center;
            }
        }

        &__mobile {
            display: flex;
        }

        &__desktop {
            display: none;
        }
    }
}