@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
}

body, .main__left button, .main__left, .header nav div a, .header nav div select, .header__register, .header__login, .header {
  font-family: "Epilogue";
  font-size: 18px;
}

.header {
  display: flex;
  width: 100vw;
}
.header__menu {
  display: none;
}
.header__login {
  color: hsl(0deg, 0%, 41%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header__login:hover {
  color: black;
}
.header__register {
  color: hsl(0deg, 0%, 41%);
  border: none;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid hsl(0deg, 0%, 41%);
  border-radius: 20px;
  padding: 3px 9px;
}
.header__register:hover {
  color: black;
}
.header__register:hover {
  border: 1px solid hsl(0deg, 0%, 8%);
}
.header nav {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 60px;
}
.header nav div {
  display: flex;
  gap: 50px;
  align-items: center;
}
.header nav div select {
  color: hsl(0deg, 0%, 41%);
  border: none;
  background-color: transparent;
  cursor: pointer;
}
.header nav div select:hover {
  color: hsl(0deg, 0%, 8%);
}
.header nav div select option {
  background-color: hsl(0deg, 0%, 98%);
}
.header nav div a {
  color: hsl(0deg, 0%, 41%);
  text-decoration: none;
}
.header nav div a:hover {
  color: hsl(0deg, 0%, 8%);
}

.main {
  display: flex;
  padding: 35px 105px;
  width: 100%;
  gap: 100px;
}
.main__left {
  display: flex;
  flex-direction: column;
  width: 40%;
  gap: 40px;
}
.main__left h1 {
  padding-top: 100px;
  font-size: 70px;
}
.main__left p {
  color: hsl(0deg, 0%, 41%);
  line-height: 30px;
}
.main__left button {
  width: 150px;
  padding: 10px;
  border-radius: 10px;
  background-color: hsl(0deg, 0%, 8%);
  color: hsl(0deg, 0%, 98%);
  cursor: pointer;
}
.main__left button:hover {
  background-color: hsl(0deg, 0%, 98%);
  color: hsl(0deg, 0%, 8%);
}
.main__left section {
  display: flex;
  gap: 40px;
  padding-top: 40px;
}
.main__left section img {
  height: 20px;
}
.main__right {
  width: 40%;
}
.main__right figure img {
  width: 80%;
  height: 70%;
}
.main__mobile {
  display: none;
}

@media (max-width: 975px) {
  .header__login {
    display: none;
  }
  .header__register {
    display: none;
  }
  .header__menu {
    display: flex;
    cursor: pointer;
  }
  .header nav div select {
    display: none;
  }
  .header nav div a {
    display: none;
  }
  .main {
    padding: 0;
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }
  .main__right {
    width: 100%;
  }
  .main__right figure img {
    width: 100%;
  }
  .main__left {
    width: 100%;
    justify-content: center;
  }
  .main__left h1 {
    text-align: center;
    font-size: 40px;
    padding-top: 10px;
  }
  .main__left h1 br {
    display: none;
  }
  .main__left p {
    text-align: center;
  }
  .main__left button {
    display: flex;
    margin: 0 auto;
    justify-content: center;
  }
  .main__left section {
    gap: 30px;
    justify-content: center;
  }
  .main__mobile {
    display: flex;
  }
  .main__desktop {
    display: none;
  }
}

/*# sourceMappingURL=style.css.map */
